.dashboard-nav2 {
  padding: 10px 15px;
  min-height: 1000px !important;
  border-right: solid 1px #f7f5f5;
  box-shadow: 0px 3px 3px #00000029;

  .dash-logo {
    height: 74px;
    border-bottom: solid 1px #f7f5f5;
  }
  a {
    color: #191919;
    text-decoration: none;
    font-family: montM;
    font-size: 16px;
    &:hover {
      background: #f7f5f5;
      color: #000 !important;
    }
    span {
      margin-right: 5px;
      font-size: 24px;
    }
  }
  .active {
    background: rgb(244, 255, 248);
    color: #027a48 !important;
    font-weight: bold !important;
    border-radius: 10px;
    transition: 0.7s ease;
    font-family: montSB;
  }
  li {
    margin-top: 20px;
  }
  @media screen and (max-width: 820px) {
    display: none;
  }
}
