.password-input {
  input {
    border: solid 1px #edecec !important;
    padding: 9px 5px;
    border-radius: 10px;
    background: #fff !important;
    width: 100% !important;
    height: 40px;
  }
  img {
    margin-top: -57px;
    float: right;
    position: relative;
    z-index: 2;
    border-right: solid 1px rgb(226, 220, 220) !important;
    border-radius: 7px;
    @media screen and (max-width: 620px) {
      margin-left: -18px;
    }
  }
}
