// @import "../../variables";
// @import "../../shared-styles";

.faq-accordion-blue-container {
  margin-bottom: 50px;
  margin-top: 50px;
  .accordion-body {
    background: #f2fafd !important;
    p {
      font-size: 16px;
      color: #161617;
    }
  }
  .accordion-button:not(.collapsed) {
    background: #f2fafd !important;
  }
  .accordion-item {
    border: none !important;
  }

  .accordion-button:focus {
    border-color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
    border-top: solid 1px rgb(155, 154, 154) !important;
  }
  .accordion-button {
    margin-top: 0px;
    border-top: solid 1px rgb(155, 154, 154);
    padding-top: 30px !important;
    padding-bottom: 10px !important;
    padding-left: 30px !important;
    background: #f3f8f6 !important;
    border-radius: none !important;
  }
  .accordion-button::after {
    background-image: url("../../assets/images/add.svg") !important;
    content: "" !important;
    background-position: center;
    background-size: 100%;
    height: 30px;
    width: 30px;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("../../assets/images/blue-minus.svg") !important;

    content: "" !important;
  }
  .accordion-button:not(.collapsed) {
    color: #161617 !important;
    box-shadow: none !important;
    border: none !important;
    border-top: solid 2px rgb(155, 154, 154) !important;
  }
  .accordion-header {
    p {
      font-size: 16px;
    }
  }
  .accordion-item:first-of-type .accordion-button {
    border-radius: 0 !important;
  }
}
