.upload__image-wrapper {
  button {
    border: none !important;
    background: transparent;
    font-family: montSB;
    font-size: 12px;
  }
}
.default-icon {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0 !important;
}
