.Admin-dashboard {
  padding: 30px 20px 10px 20px;
}
.summary {
  padding: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #1018281a;
  border: 1px solid #e4e7ec;
  border-radius: 10px;
}
.zone-div {
  padding: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #1018281a;
  border: 1px solid #e4e7ec;
  border-radius: 10px;
  margin-top: 20px;
  height: 400px;
}
.recent-acts {
  padding: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #1018281a;
  border: 1px solid #e4e7ec;
  border-radius: 10px;
  margin-top: 20px;
  height: 400px;
  overflow: hidden scroll;
}
.acts-div {
  padding-left: 23px;
}
.recent-acts::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.recent-acts {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.registered-sch {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #1018281a;
  border: 1px solid #e4e7ec;
  border-radius: 10px;
  padding: 25px;
  margin-top: 30px;
}
.more-btn {
  font-family: montM;
  font-size: 14px;
  background: #f9fafb 0% 0% no-repeat padding-box;
  border: 1px solid #e4e7ec;
  border-radius: 8px;
  color: #000000;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.up {
  color: #00923f;
  font-family: montM;
  margin-right: 5px;
}
.down {
  color: #f04438;
  font-family: montM;
  margin-right: 5px;
}
