.nav-container {
  a {
    color: #292d32;
    font-family: montSB;
    margin: 0 0px;
  }
  button {
    border-radius: 7px;
    background: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    &:hover {
      background: #e4e7ec;
    }
  }
}
.nav-div {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #00000029;
}
