.table-btn {
  border: none;
  border-radius: 11px;
  font-size: 12px;
  padding: 5px 15px;
  font-family: montM;
}
.school-table {
  td {
    font-family: montR;
    font-size: 14px;
  }
  th {
    font-family: montM;
  }
  .alphabet {
    height: 26px;
    width: 26px;
    color: #fff;
    font-family: montSB;
    border-radius: 50%;
  }
  .edit {
    font-family: montM;
  }
}
