.tooltip2 {
  position: absolute;
  background: #fff;
  color: #000;
  visibility: hidden;
  padding: 5px;
  border-radius: 5px;
  width: 120px;
  min-height: 50px;
  font-family: montr;
  z-index: 14;
  li {
    font-size: 10px;
  }
}
.tooltip-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent;
}
